<div class="row">

    <div class="col-3 col-md-3 d-flex">
        <div class="card flex-fill border-0">
            <div class="card-body">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1">
                        <h4 class="mb-2">
                            {{ general_statistics.total_books }}
                        </h4>
                        <p class="mb-2">
                            Total de Livros Únicos
                        </p>
                        <div class="mb-0">
                            <span class="badge text-success me-2">
                            </span>
                            <span class="text-muted">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3 col-md-3 d-flex">
        <div class="card flex-fill border-0">
            <div class="card-body">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1">
                        <h4 class="mb-2">
                            {{ general_statistics.total_loans }}
                        </h4>
                        <p class="mb-2">
                            Total de Empréstimos
                        </p>
                        <div class="mb-0">
                            <span class="badge text-success me-2">
                            </span>
                            <span class="text-muted">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3 col-md-3 d-flex">
        <div class="card flex-fill border-0">
            <div class="card-body">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1">
                        <h4 class="mb-2">
                            {{ general_statistics.total_students }}
                        </h4>
                        <p class="mb-2">
                            Total de Alunos
                        </p>
                        <div class="mb-0">
                            <span class="badge text-success me-2">
                            </span>
                            <span class="text-muted">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-3 col-md-3 d-flex">
        <div class="card flex-fill border-0">
            <div class="card-body">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1">
                        <h4 class="mb-2">
                            {{ general_statistics.active_loans }}
                        </h4>
                        <p class="mb-2">
                            Empréstimos Ativos
                        </p>
                        <div class="mb-0">
                            <span class="badge text-success me-2">
                            </span>
                            <span class="text-muted">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3 col-md-3 d-flex">
        <div class="card flex-fill border-0">
            <div class="card-body">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1">
                        <h4 class="mb-2">
                            {{ general_statistics.we_lend_today }}
                        </h4>
                        <p class="mb-2">
                            Empréstimos Hoje
                        </p>
                        <div class="mb-0">
                            <span class="badge text-success me-2">


                            </span>
                            <span class="text-muted">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3 col-md-3 d-flex">
        <div class="card flex-fill border-0">
            <div class="card-body">
                <div class=" d-flex align-items-start">
                    <div class="flex-grow-1">
                        <h4 class="mb-2">
                            {{ general_statistics.overdue_books }}
                        </h4>
                        <p class="mb-2">
                            Livros Atrasados
                        </p>
                        <div class="mb-0">
                            <span class="badge text-success me-2">
                            </span>
                            <span class="text-muted">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>