{% load static %}
<nav class="navbar navbar-expand px-3 border-bottom">
  <button class="btn" id="sidebar-toggle" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse navbar">
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <button href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0 btn">
          <div class="d-flex flex-column flex-lg-row align-items-center">
            <i class="bi bi-person-circle pe-2 fs-4"></i>
            {{ request.user }}
          </div>
        </button>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="{% url 'account:user_logout' %}" class="dropdown-item">Logout</a>
        </div>
      </li>
      {% else %}
      <a href="{% url 'account:user_login' %}">Login</a>
      {% endif %}
    </ul>
  </div>
</nav>