<!-- Content For Sidebar -->
{% load static %}
<div class="h-100">
    <div class="sidebar-logo">
        <a href="#"><img src="{% static 'global/icons/library_books.svg' %}" alt="Library Books Icon">&nbsp;
            Library</a>
    </div>
    <ul class="sidebar-nav">
        <!-- <li class="sidebar-header">
            Admin Elements
        </li> -->
        <li class="sidebar-item">
            <a href="{% url 'library:dashboard' %}" class="sidebar-link">
                <i class="bi bi-speedometer pe-2"></i>
                Dashboard
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{% url 'library:book_list' %}" class="sidebar-link">
                <i class="bi bi-book pe-2"></i>
                Books
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{% url 'library:author_list' %}" class="sidebar-link">
                <i class="bi bi-pencil pe-2"></i>
                Authors
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{% url 'library:publisher_list' %}" class="sidebar-link">
                <i class="bi bi-newspaper pe-2"></i>
                Publishers
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{% url 'library:category_list' %}" class="sidebar-link">
                <i class="bi bi-bookmarks pe-2"></i>
                Categories
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{% url 'library:student_list' %}" class="sidebar-link">
                <i class="bi bi-mortarboard pe-2"></i>
                Students
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{% url 'library:loan_list' %}" class="sidebar-link">
                <i class="bi bi-calendar2 pe-2"></i>
                Loans
            </a>
        </li>

        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed" data-bs-target="#auth" data-bs-toggle="collapse"
                aria-expanded="false"><i class="bi bi-person pe-2"></i>
                Auth
            </a>
            <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Login</a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'account:user_create' %}" class="sidebar-link">Register</a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Forgot Password</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-header">
            Multi Level Menu
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed" data-bs-target="#multi" data-bs-toggle="collapse"
                aria-expanded="false"><i class="i bi-share pe-2"></i>
                Multi Dropdown
            </a>
            <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-target="#level-1" data-bs-toggle="collapse"
                        aria-expanded="false">Level 1</a>
                    <ul id="level-1" class="sidebar-dropdown list-unstyled collapse">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Level 1.1</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Level 1.2</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>