{% load crispy_forms_tags %}

<form action="" method="post" class="mt-3">
    {% csrf_token %}
    <div class="card border-0">
        <div class="card-body mt-4">
            <div class="row justify-content-center">
                <div class="col-4">{{ form.first_name|as_crispy_field }}</div>
                <div class="col-4">{{ form.last_name|as_crispy_field }}</div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">{{ form.email|as_crispy_field }}</div>
                <div class="col-4">{{ form.username|as_crispy_field }}</div>
            </div>
            <div class="row justify-content-center">
                <div class="col-8">
                    <div>{{ form.password1|as_crispy_field }}</div>
                    <div>{{ form.password2|as_crispy_field }}</div>

                </div>
            </div>

        </div>
    </div>

    <div class="float-end">
        {% include 'components/buttons/_submit.html' %}
        {% include 'components/buttons/_back.html' %}
    </div>
</form>